body{
    padding: 0;
    margin: 0;
    background-color: black;
}
#logo img{
    height: 50px;
    width: 50px;
}
#navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
#links{
    justify-self: start;
    justify-content: center;
}